<main>
  <header>
    <span id="title">Card Game</span>
    <nav>
      <ul>
        <li>
          <a (click)="goHome()">Home</a>
          <a (click)="goAbout()">About Us</a>
          <a (click)="goContact()">Contact</a>
        </li>
      </ul>
    </nav>
  </header>

  <div class="container">
    <div class="card-container">
      <h4>{{card.name}}</h4>
      <img src="{{card.image}}">
      <button class="btn btn-cancel" (click)="goBack()" style="display: block; text-align: center; margin: 0 auto">
        Go Back
      </button>

      <div class="card-info">
        <h4>About</h4>
        <p>{{card.about}}</p>
        <p><span class="bold">Rarity</span>: {{card.rarity}}</p>
        <p><span class="bold">Colors</span>: {{card.color.join()}}</p>
      </div>
    </div>
  </div>
</main>
